{
  "comment1": "in machine_learnign_model, specify either 'logistic_regression' or 'deep_learning'",
  "machine_learnign_model": "logistic_regression",

  "email_alerts": {
    "enabled": true,
    "email_sender": "",
    "email_password": "",
    "email_recipient": ""
  },

  "comment2": "time between each packet sniffed in seconds",
  "time_between_sniffed_packet": 5,

  "turn_off_network_on_attack_detection": false,
  "network_interface": "wlan0",

  "generated_excels_folder_windows": ".....",
  "generated_excels_folder_linux": "/home/pi/Desktop/reports"
}
